	<header>
		<div class="has-text-centered">
			<img src="/assets/images/logo.png" alt="" width="145" height="auto">
		</div>
		<nav class="navbar-tabs">
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">INTERVIEW</a>
			<a href="#" class="navbar-item">PHOTO</a>
			<a href="#" class="navbar-item">HISTORY</a>
			<a href="#" class="navbar-item">MEDIA</a>
			<a href="#" class="navbar-item">REWARD</a>
			<a href="#" class="navbar-item">LOCATION</a>
			<a href="#" class="navbar-item">CONTACT</a>
		</nav> 
	</header>